@{
    PageData["title"] = "AngularJS SPA Template for Visual Studio";
}
<h2>Sintra a Correr 2015</h2>
<p>Resultados da equipa Varitintas</p>

<div>

    <win-list-view class="listView win-selectionstylefilled"
                   item-data-source="listData" selection="selection" selection-mode="mode.selectionMode" tap-behavior="mode.tapBehavior" 
                   on-item-invoked="itemClicked($event)">
        <win-item-template>
            <div class="smallListIconTextItem">
                <div class="smallListIconTextItem-Detail">
                    <h4>{{item.data.Name}}</h4>
                    <h6>{{item.data.RaceDate | date:dateFormat}}</h6>
                </div>
            </div>
        </win-item-template>
        <win-list-layout></win-list-layout>
    </win-list-view>

</div>