@{
    PageData["title"] = "Race";
}
<h2>{{race.Name}}</h2>

<h4>Escalões:</h4>
<win-list-view class="listView win-selectionstylefilled"
               item-data-source="ageRankData" selection="ageRankSelection" selection-mode="mode.selectionMode" tap-behavior="mode.tapBehavior"
               on-item-invoked="ageRankClicked($event)">
    <win-item-template>
        <div class="smallListIconTextItem">
            <div class="smallListIconTextItem-Detail">
                <h6>{{item.data.Name}}</h6>
            </div>
        </div>
    </win-item-template>
    <win-list-layout></win-list-layout>
</win-list-view>