@{
    PageData["title"] = "Team";
}
<h2>{{team.Name}}</h2>

<h4>Atletas:</h4>

<table class="table">
    <thead class="table-header">
        <tr>
            <td style="width:15%">Dorsal</td>
            <td style="width:45%">Nome</td>
            <td style="width:25%">Escalão</td>
            <td style="width:15%">Pontos</td>
        </tr>
    </thead>
    <tbody class="table-body">
        <tr class="table-body-row" ng-repeat="result in athletesData">
            <td>{{result.Number}}</td>
            <td><a href="/athlete/{{result.Id}}">{{result.Name}}</a></td>
            <td>{{result.AgeRank}}</td>
            <td>{{result.TotalPoints}}</td>
        </tr>
    </tbody>
</table>